[submodule "sophomore/web/lab4/backend"]
	path = sophomore/web/lab4/backend
	url = https://github.com/ItmoSE/PrecisionArc-backend.git
[submodule "sophomore/web/lab4/frontend"]
	path = sophomore/web/lab4/frontend
	url = https://github.com/ItmoSE/PrecisionArc-frontend.git
